.photo {

    position: relative;

}

.photo__pic {

    box-sizing: border-box;
    max-height: 700px;
    height: 0;
    padding-top: 56.25%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
}

.photo__pic--vertical {

    padding-top: 85%;

}

.photo__captions {

    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    color: #fff;
    padding: 15px;
}

.photo__like-btn {
    margin-left: 15px;
}

.photo__back-main-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    background: rgba(0,0,0,.6);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.photo__can-like {
    color: #666;
    margin-left: 12px;
}